#########################################
# START ECOMMERCE PRODUCT VARIATION
#########################################


#These are examples; edit as you require.

ProductWithVariationDecorator_Controller:
  use_js_validation: false
  alternative_validator_class_name: ""


ProductVariation:
  current_style_option_code: "default"

#########################################
# END ECOMMERCE PRODUCT VARIATION
#########################################
