#########################################
# START ECOMMERCE PRODUCT VARIATION
#########################################


#These are examples; edit as you require.

ProductsAndGroupsModelAdmin:
  managed_models:
    - ProductVariation
    - ProductAttributeType
    - ProductAttributeValue

ProductWithVariationDecorator_Controller:
  use_js_validation: false
  alternative_validator_class_name: ""


ProductVariation:
  current_style_option_code: "default"
  folder_name_for_images: "ProductVariationImages"

EcommerceTaskCSVToVariations:
  file_location: "mysite/data/mydatafile.csv"
  no_price_available: "poa"
  attribute_type_field_names:
    - Size
    - Colour

#########################################
# END ECOMMERCE PRODUCT VARIATION
#########################################
